.rectangle-div10 {
  position: absolute;
  top: 185px;
  left: 17px;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  width: 385px;
  height: 388px;
}
.group-icon3 {
  position: absolute;
  top: 610px;
  left: 29px;
  width: 362px;
  height: 50px;
}
.group-icon4,
.group-icon5,
.vector-icon1 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon4 {
  height: 7.61%;
  width: 72.83%;
  top: 6.91%;
  right: 12.62%;
  bottom: 85.48%;
  left: 14.55%;
  opacity: 0.94;
}
.group-icon5,
.vector-icon1 {
  height: 6.23%;
  width: 70.45%;
  top: 7.6%;
  right: 13.81%;
  bottom: 86.17%;
  left: 15.74%;
}
.vector-icon1 {
  height: 1.93%;
  width: 6.19%;
  top: 7.66%;
  right: 86.67%;
  bottom: 90.41%;
  left: 7.14%;
}
.rectangle-div11,
.rectangle-div12,
.rectangle-div13 {
  position: absolute;
  top: 206px;
  left: 39px;
  background-color: var(--color-gray-300);
  width: 106px;
  height: 106px;
}
.rectangle-div12,
.rectangle-div13 {
  top: 326px;
}
.rectangle-div13 {
  top: 446px;
}
.rectangle-div14,
.rectangle-div15,
.rectangle-div16,
.rectangle-div17,
.rectangle-div18,
.rectangle-div19 {
  position: absolute;
  top: 206px;
  left: 157px;
  background-color: var(--color-gray-300);
  width: 106px;
  height: 106px;
}
.rectangle-div15,
.rectangle-div16,
.rectangle-div17,
.rectangle-div18,
.rectangle-div19 {
  top: 326px;
}
.rectangle-div16,
.rectangle-div17,
.rectangle-div18,
.rectangle-div19 {
  top: 446px;
}
.rectangle-div17,
.rectangle-div18,
.rectangle-div19 {
  top: 206px;
  left: 276px;
}
.rectangle-div18,
.rectangle-div19 {
  top: 326px;
}
.rectangle-div19 {
  top: 446px;
}
.div1 {
  position: absolute;
  top: 115px;
  left: 38px;
  display: inline-block;
}
.frame-icon {
  position: absolute;
  top: 288px;
  left: 32px;
  width: 356.07px;
  height: 108.64px;
  overflow: hidden;
}
.ch1-11 {
  position: relative;
  background-color: var(--color-turquoise-200);
  width: 100%;
  height: 724px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-700);
  font-family: var(--font-noto-sans-kr);
}
