.rectangle-div {
  position: absolute;
  top: 130px;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  width: 385px;
  height: 388px;
}
.group-icon {
  position: absolute;
  top: 555px;
  left: 12px;
  width: 362px;
  height: 50px;
}
.group-icon1,
.group-icon2,
.vector-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon1 {
  height: 9.11%;
  width: 79.45%;
  top: -0.83%;
  right: 9.09%;
  bottom: 91.72%;
  left: 11.46%;
  opacity: 0.94;
}
.group-icon2,
.vector-icon {
  height: 7.46%;
  width: 76.85%;
  top: 0;
  right: 10.39%;
  bottom: 92.54%;
  left: 12.76%;
}
.vector-icon {
  height: 2.31%;
  width: 6.75%;
  top: 0.07%;
  right: 89.87%;
  bottom: 97.62%;
  left: 3.38%;
}
.rectangle-div1,
.rectangle-div2,
.rectangle-div3,
.rectangle-div4,
.rectangle-div5,
.rectangle-div6 {
  position: absolute;
  top: 151px;
  left: 22px;
  background-color: var(--color-turquoise-100);
  width: 106px;
  height: 106px;
}
.rectangle-div2,
.rectangle-div3,
.rectangle-div4,
.rectangle-div5,
.rectangle-div6 {
  top: 271px;
}
.rectangle-div3,
.rectangle-div4,
.rectangle-div5,
.rectangle-div6 {
  top: 391px;
}
.rectangle-div4,
.rectangle-div5,
.rectangle-div6 {
  top: 151px;
  left: 140px;
}
.rectangle-div5,
.rectangle-div6 {
  top: 271px;
}
.rectangle-div6 {
  top: 391px;
}
.rectangle-div7 {
  position: absolute;
  top: 151px;
}
.rectangle-div7,
.rectangle-div8,
.rectangle-div9 {
  left: 259px;
  background-color: var(--color-turquoise-100);
  width: 106px;
  height: 106px;
}
.rectangle-div8 {
  position: absolute;
  top: 271px;
}
.rectangle-div9 {
  top: 391px;
}
.div,
.group-div,
.rectangle-div9 {
  position: absolute;
}
.div {
  top: 60px;
  left: 21px;
  display: inline-block;
}
.group-div {
  top: 55px;
  left: 17px;
  width: 385px;
  height: 605px;
}
.ch1-1 {
  position: relative;
  background-color: var(--color-turquoise-200);
  width: 100%;
  height: 724px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-700);
  font-family: var(--font-noto-sans-kr);
}
