.image-261-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 761px;
  object-fit: cover;
}
.rectangle-div31 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  width: 300px;
  height: 54px;
}
.p5 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.div5 {
  position: absolute;
  top: 7px;
  left: 51px;
  display: inline-block;
}
.group-div1 {
  position: absolute;
  top: 347px;
  left: 60px;
  width: 300px;
  height: 54px;
}
.div6 {
  position: absolute;
  top: 9px;
  left: 30px;
  display: inline-block;
}
.group-div2 {
  position: absolute;
  top: 418px;
  left: 60px;
  width: 300px;
  height: 54px;
}
.ceo-p {
  margin: 0;
  font-size: var(--font-size-xl);
}
.ceo-div {
  position: absolute;
  top: 8px;
  left: 43px;
  display: inline-block;
}
.group-div3 {
  position: absolute;
  top: 489px;
  left: 60px;
  width: 300px;
  height: 54px;
}
.div7 {
  position: absolute;
  top: 8px;
  left: 45px;
  display: inline-block;
}
.group-div4,
.rectangle-div35 {
  position: absolute;
  top: 631px;
  left: 59px;
  width: 300px;
  height: 54px;
}
.rectangle-div35 {
  top: 560px;
  left: 60px;
  border-radius: var(--br-md);
  background-color: var(--color-teal-100);
}
.p13 {
  margin: 0;
  font-size: var(--font-size-xl);
  color: #f5df70;
}
.div8,
.div9 {
  position: absolute;
  display: inline-block;
}
.div8 {
  top: 568px;
  left: 77px;
  color: var(--color-gray-100);
}
.div9 {
  top: 8px;
  left: 28px;
}
.group-div5,
.group-icon11,
.group-icon12 {
  position: absolute;
  top: 276px;
  left: 60px;
  width: 300px;
  height: 54px;
}
.group-icon11,
.group-icon12 {
  top: 724px;
  height: 48px;
}
.group-icon12 {
  height: 27.71%;
  width: 83.33%;
  top: 3.75%;
  right: 8.33%;
  bottom: 68.54%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div10 {
  position: absolute;
  top: 208px;
  left: 84px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
  text-align: left;
  display: inline-block;
}
.group-icon13 {
  position: absolute;
  height: 14.88%;
  width: 30.66%;
  top: 6.67%;
  right: 34.58%;
  bottom: 78.45%;
  left: 34.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b1 {
  position: absolute;
  top: 23.1%;
  left: 24.05%;
  font-size: var(--font-size-2xl);
  display: inline-block;
}
.ch1-10- {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 801px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
