.image-261-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 761px;
  object-fit: cover;
}
.vector-icon4 {
  position: absolute;
  height: 34.39%;
  width: 100%;
  top: 69.06%;
  right: 0;
  bottom: -3.45%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.polygon-icon2 {
  position: absolute;
  top: 559.75px;
  left: 284.94px;
  width: 12.12px;
  height: 11.25px;
}
.p53 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p54 {
  margin: 0;
}
.div34 {
  position: absolute;
  top: 530px;
  left: 30px;
  font-weight: 500;
  color: var(--color-gray-200);
  display: inline-block;
}
.group-icon36,
.group-icon37 {
  position: absolute;
  height: 30.66%;
  width: 83.33%;
  top: 23.62%;
  right: 8.33%;
  bottom: 45.72%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon37 {
  height: 15.44%;
  width: 28.75%;
  top: 31.77%;
  right: 53.39%;
  bottom: 52.79%;
  left: 17.86%;
}
.b7,
.b8,
.inssamacu-div {
  position: absolute;
  left: 50.71%;
  display: inline-block;
}
.b7 {
  top: 32.32%;
  font-size: 24px;
}
.b8,
.inssamacu-div {
  width: 33.33%;
  top: 37.85%;
}
.inssamacu-div {
  top: 41.71%;
}
.ch1-111 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 724px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
