.image-261-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 761px;
  object-fit: cover;
}
.group-icon14 {
  position: absolute;
  height: 25.69%;
  width: 83.33%;
  top: 3.47%;
  right: 8.33%;
  bottom: 70.83%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div11 {
  position: absolute;
  top: 208px;
  left: 84px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
  text-align: left;
  display: inline-block;
}
.group-icon15 {
  position: absolute;
  height: 13.79%;
  width: 30.66%;
  top: 6.19%;
  right: 34.58%;
  bottom: 80.02%;
  left: 34.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b2 {
  position: absolute;
  top: 21.41%;
  left: 24.05%;
  font-size: var(--font-size-2xl);
  display: inline-block;
}
.rectangle-div37 {
  position: absolute;
  top: 780px;
  left: 60px;
  border-radius: 25px;
  background-color: #31b2a3;
  width: 300px;
  height: 48px;
}
.group-icon16 {
  position: absolute;
  height: 2.69%;
  width: 10.16%;
  top: 91.72%;
  right: 44.96%;
  bottom: 5.58%;
  left: 44.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-div38 {
  position: absolute;
  top: 281px;
  left: 30px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  width: 177px;
  height: 151px;
}
.rectangle-div39,
.rectangle-div40,
.rectangle-div41,
.rectangle-div42,
.rectangle-div43 {
  position: absolute;
  top: 438px;
  left: 212px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  width: 178px;
  height: 152px;
}
.rectangle-div40,
.rectangle-div41,
.rectangle-div42,
.rectangle-div43 {
  top: 281px;
  left: 213px;
  width: 177px;
  height: 151px;
}
.rectangle-div41,
.rectangle-div42,
.rectangle-div43 {
  top: 596px;
  left: 30px;
}
.rectangle-div42,
.rectangle-div43 {
  top: 438px;
  background-color: var(--color-teal-100);
  height: 152px;
}
.rectangle-div43 {
  top: 596px;
  left: 213px;
  background-color: var(--color-gray-300);
  height: 151px;
}
.p16 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p17 {
  margin: 0;
}
.div12,
.div13,
.div14 {
  position: absolute;
  top: 306px;
  left: 52px;
  display: inline-block;
  width: 133px;
  height: 39px;
}
.div13,
.div14 {
  top: 463px;
  left: 234px;
  width: 134px;
  height: 38px;
}
.div14 {
  top: 306px;
  left: 242px;
  width: 119px;
  height: 39px;
}
.div15 {
  top: 620px;
  left: 51px;
  width: 134px;
  height: 38px;
}
.div15,
.div16,
.div17 {
  position: absolute;
  display: inline-block;
}
.div16 {
  top: 463px;
  left: 62px;
  color: var(--color-gray-100);
  width: 112px;
  height: 39px;
}
.div17 {
  top: 620px;
  left: 234px;
  width: 134px;
  height: 38px;
}
.group-icon17,
.group-icon18,
.group-icon19,
.group-icon20,
.group-icon21,
.group-icon22 {
  position: absolute;
  height: 6.46%;
  width: 28.2%;
  top: 41.32%;
  right: 57.75%;
  bottom: 52.22%;
  left: 14.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.94;
}
.group-icon18,
.group-icon19,
.group-icon20,
.group-icon21,
.group-icon22 {
  height: 6.43%;
  width: 23.43%;
  right: 16.57%;
  bottom: 52.26%;
  left: 60%;
}
.group-icon19,
.group-icon20,
.group-icon21,
.group-icon22 {
  height: 6.46%;
  width: 23.63%;
  top: 59.49%;
  right: 60.18%;
  bottom: 34.05%;
  left: 16.19%;
}
.group-icon20,
.group-icon21,
.group-icon22 {
  height: 6.48%;
  width: 29.43%;
  right: 13.67%;
  bottom: 34.03%;
  left: 56.9%;
}
.group-icon21,
.group-icon22 {
  height: 6.6%;
  width: 23.44%;
  top: 77.55%;
  right: 60.14%;
  bottom: 15.86%;
  left: 16.43%;
}
.group-icon22 {
  height: 6.46%;
  width: 28.91%;
  top: 77.66%;
  right: 13.95%;
  bottom: 15.88%;
  left: 57.14%;
}
.ch1-10-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 864px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
