.image-261-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 761px;
  object-fit: cover;
}
.group-icon23 {
  position: absolute;
  height: 25.69%;
  width: 83.33%;
  top: 3.47%;
  right: 8.33%;
  bottom: 70.83%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div18 {
  position: absolute;
  top: 208px;
  left: 84px;
  color: var(--color-gray-600);
  text-align: left;
  display: inline-block;
}
.group-icon24 {
  position: absolute;
  height: 13.79%;
  width: 30.66%;
  top: 6.19%;
  right: 34.58%;
  bottom: 80.02%;
  left: 34.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b3 {
  position: absolute;
  top: 21.41%;
  left: 24.05%;
  font-size: var(--font-size-2xl);
  display: inline-block;
}
.group-icon25,
.rectangle-div44 {
  position: absolute;
  top: 780px;
  left: 60px;
  width: 300px;
  height: 48px;
}
.rectangle-div44 {
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  width: 177px;
  height: 151px;
}
.rectangle-div45,
.rectangle-div46,
.rectangle-div47,
.rectangle-div48,
.rectangle-div49 {
  position: absolute;
  top: 157px;
  left: 182px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  width: 178px;
  height: 152px;
}
.rectangle-div46,
.rectangle-div47,
.rectangle-div48,
.rectangle-div49 {
  top: 0;
  left: 183px;
  width: 177px;
  height: 151px;
}
.rectangle-div47,
.rectangle-div48,
.rectangle-div49 {
  top: 315px;
  left: 0;
}
.rectangle-div48,
.rectangle-div49 {
  top: 157px;
  height: 152px;
}
.rectangle-div49 {
  top: 315px;
  left: 183px;
  height: 151px;
}
.p28 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p29 {
  margin: 0;
}
.div19,
.div20,
.div21,
.div22,
.div23,
.div24 {
  position: absolute;
  top: 25px;
  left: 22px;
  display: inline-block;
  width: 133px;
  height: 39px;
}
.div20,
.div21,
.div22,
.div23,
.div24 {
  top: 182px;
  left: 204px;
  width: 134px;
  height: 38px;
}
.div21,
.div22,
.div23,
.div24 {
  top: 25px;
  left: 212px;
  width: 119px;
  height: 39px;
}
.div22,
.div23,
.div24 {
  top: 339px;
  left: 21px;
  width: 134px;
  height: 38px;
}
.div23,
.div24 {
  top: 182px;
  left: 32px;
  width: 112px;
  height: 39px;
}
.div24 {
  top: 339px;
  left: 204px;
  width: 134px;
  height: 38px;
}
.group-icon26,
.group-icon27,
.group-icon28,
.group-icon29,
.group-icon30,
.group-icon31 {
  position: absolute;
  height: 11.97%;
  width: 32.9%;
  top: 16.31%;
  right: 59.05%;
  bottom: 71.72%;
  left: 8.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.94;
}
.group-icon27,
.group-icon28,
.group-icon29,
.group-icon30,
.group-icon31 {
  height: 11.91%;
  width: 27.33%;
  right: 11%;
  bottom: 71.78%;
  left: 61.67%;
}
.group-icon28,
.group-icon29,
.group-icon30,
.group-icon31 {
  height: 11.97%;
  width: 27.57%;
  top: 50%;
  right: 61.88%;
  bottom: 38.03%;
  left: 10.56%;
}
.group-icon29,
.group-icon30,
.group-icon31 {
  height: 12.02%;
  width: 34.33%;
  right: 7.61%;
  bottom: 37.98%;
  left: 58.06%;
}
.group-icon30,
.group-icon31 {
  height: 12.23%;
  width: 27.34%;
  top: 83.48%;
  right: 61.82%;
  bottom: 4.29%;
  left: 10.83%;
}
.group-icon31 {
  height: 11.97%;
  width: 33.73%;
  top: 83.69%;
  right: 7.94%;
  bottom: 4.34%;
  left: 58.33%;
}
.group-div6 {
  position: absolute;
  top: 281px;
  left: 30px;
  width: 360px;
  height: 466px;
  font-size: var(--font-size-lg);
}
.ch1-10-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 864px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
