.b14,
.b15 {
  position: absolute;
  top: 336px;
  left: 50px;
  display: inline-block;
}
.b15 {
  top: 365px;
}
.polygon-icon9 {
  position: absolute;
  top: 371.75px;
  left: 190.94px;
  width: 12.12px;
  height: 11.25px;
}
.ch1-14 {
  position: relative;
  background-color: var(--color-gray-500);
  width: 100%;
  height: 724px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-200);
  font-family: var(--font-noto-sans-kr);
}
