.image-255-icon1 {
  position: absolute;
  top: 0;
  left: 17px;
  width: 783px;
  height: 522px;
  object-fit: cover;
}
.image-256-icon1,
.image-257-icon1,
.image-258-icon1,
.image-259-icon1 {
  position: absolute;
  top: 522px;
  left: 17px;
  width: 783px;
  height: 64px;
  object-fit: cover;
}
.image-257-icon1,
.image-258-icon1,
.image-259-icon1 {
  top: 586px;
}
.image-258-icon1,
.image-259-icon1 {
  top: 650px;
}
.image-259-icon1 {
  top: 714px;
}
.group-div14,
.vector-icon7 {
  position: absolute;
  top: 0;
  left: -17px;
  width: 783px;
  height: 778px;
}
.vector-icon7 {
  height: 34.39%;
  width: 100%;
  top: 69.06%;
  right: 0;
  bottom: -3.45%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.polygon-icon5 {
  position: absolute;
  top: 559.75px;
  left: 269.94px;
  width: 12.12px;
  height: 11.25px;
}
.p59 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p60 {
  margin: 0;
}
.div38 {
  top: 530px;
  left: 30px;
  font-weight: 500;
  display: inline-block;
}
.div38,
.div39,
.icon2 {
  position: absolute;
}
.div39 {
  top: 0;
  left: 161px;
  font-size: var(--font-size-3xl);
  font-weight: 900;
  color: var(--color-fuchsia);
  text-align: center;
  display: none;
}
.icon2 {
  top: 306px;
  left: 206px;
  width: 217px;
  height: 194px;
  object-fit: cover;
}
.ch1-5 {
  position: relative;
  background-color: var(--color-gray-500);
  width: 100%;
  height: 724px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-200);
  font-family: var(--font-noto-sans-kr);
}
