.image-255-icon-one-five {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 840px;
  height: 800px;
  object-fit: cover;
}
.image-256-icon-one-five,
.image-257-icon-one-five,
.image-258-icon-one-five,
.image-259-icon-one-five {
  top: 1115px;
  left: 0px;
  width: 900px;
  height: 160px;
}
.image-257-icon-one-five,
.image-258-icon-one-five,
.image-259-icon-one-five {
  top: 1052px;
}
.image-258-icon-one-five,
.image-259-icon1one-five {
  top: 988px;
}
.image-259-icon-one-five {
  top: 92px;
}
.group-div15-one-five,
.vector-icon9-one-five {
  top: 0;
  left: 0px;
  width: 800px;
  height: 700px;
}
.vector-icon9-one-five {
  height: 500px;
  width: 100%;
  top: 620px;
  overflow: hidden;
}
.p61-one-five {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p62-one-five {
  margin: 0;
}
.div41-one-five {
  position: absolute;
  top: 850px;
  left: 50px;
  font-weight: 500;
  font-size: 30px;
  display: inline-block;
}
.div41-one-five,
.icon8-one-five {
  position: absolute;
}
.icon8-one-five {
  top: 500px;
  left: 430px;
  width: 330px;
  height: 300px;
  object-fit: cover;
}
.ch1-5-one-five {
  position: relative;
  background-color: var(--color-gray-500);
  width: 100%;
  height: 1180px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-200);
  font-family: var(--font-noto-sans-kr);
}
