.image-262-icon-one-nine {
  position: absolute;
  top: 0px;
  left: -15px;
  width: 840px;
  height: 1180px;
  object-fit: cover;
}
.rectangle-div66-one-nine {
  position: absolute;
  top: 760px;
  left: 180px;
  border-radius: 10px;
  background-color: #147176;
  width: 500px;
  height: 80px;
}
.group-icon34-one-nine{
  position: absolute;
  height: 110.71%;
  width: 95.33%;
  top: 2%;
  right: 15.33%;
  bottom: 68.54%;
  left: 1.33%;
  max-width: 100%;
  overflow: hidden;
}
.b4-one-nine,
.b5-one-nine,
.div30-one-nine {
  position: absolute;
  display: inline-block;
}
.b4-one-nine {
  position: absolute;
  top: 620px;
  left: 290px;
  font-size: 30px;
  color: black;
}
.b5-one-nine {
  position: absolute;
  top: 770px;
  left: 280px;
  color: black;
  width: 30x;
  font-size: 40px;
  background-color: #147176;
  border: none;
  text-align: center;
}
.div30-one-nine {
  position: absolute;
  top: 680px;
  left: 200px;
  color: var(--color-gray-600);
  font-size: 20px;
}
.group-icon36-one-nine {
  position: absolute;
  top: 1060px;
  left: 150px;
  height: 80px;
}
.ch1-9-one-nine {
  position: relative;
  background-color: var(--color-gray-500);
  width: 100%;
  height: 1180px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-200);
  font-family: var(--font-noto-sans-kr);
}
