.icon-two-fifteen {
  position: absolute;
  top: 0;
  left: 0;
  width: 820px;
  height: 1180px;
  object-fit: cover;
}
.rectangle-div-two-fifteen {
  position: absolute;
  top: 123px;
  left: 114px;
  border-radius: 38px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  width: 620px;
  height: 950px;
}
.group-icon-div-two-fifteen {
  position: absolute;
  height: 11.15%;
  width: 41.59%;
  top: 6.35%;
  right: 30.31%;
  bottom: 82.49%;
  left: 28.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.p-two-fifteen {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p3-two-fifteen {
  margin: 0;
}
.div-two-fifteen {
  position: absolute;
  top: 630px;
  left: 247px;
  line-height: 202.8%;
  font-weight: 500;
  display: inline-block;
}
.rectangle-div1-two-fifteen {
  position: absolute;
  top: 877px;
  left: 285px;
  border-radius: var(--br-lg);
  background-color: #a6f0e8;
  width: 300px;
  height: 48px;
}
.group-icon1-two-fifteen,
.group-icon2-two-fifteen,
.group-icon3-two-fifteen {
  position: absolute;
  height: 5.11%;
  width: 18.77%;
  top: 30.32%;
  right: 40.63%;
  bottom: 64.57%;
  left: 40.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon2-two-fifteen,
.group-icon3-two-fifteen {
  height: 12.43%;
  width: 56.93%;
  top: 36.6%;
  right: 21.65%;
  bottom: 50.97%;
  left: 21.43%;
}
.group-icon3-two-fifteen {
  height: 2.76%;
  width: 28.81%;
  top: 87.15%;
  right: 35.48%;
  bottom: 10.09%;
  left: 35.71%;
}
.ch1-clear-two-fifteen {
  position: relative;
  background-color: #52d2c4;
  width: 100%;
  height: 1180px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  color: #474a4d;
  font-family: var(--font-noto-sans-kr);
}
