.image-255-icon-one-six {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 840px;
  height: 800px;
  object-fit: cover;
}
.image-256-icon-one-six
.image-257-icon-one-six,
.image-258-icon-one-six,
.image-259-icon-one-six {
  top: 1115px;
  left: 0px;
  width: 900px;
  height: 160px;
}
.image-257-icon-one-six,
.image-258-icon-one-six,
.image-259-icon-one-six {
  top: 1052px;
}
.image-258-icon-one-six,
.image-259-icon-one-six {
  top: 988px;
}
.image-259-icon-one-six {
  top: 92px;
}
.group-div14-one-six,
.vector-icon8-one-six {
  top: 0;
  left: 0px;
  width: 800px;
  height: 700px;
}
.vector-icon8-one-six {
  height: 500px;
  width: 100%;
  top: 620px;
  overflow: hidden;
}
.div39-one-six {
  position: absolute;
  top: 850px;
  left: 50px;
  font-weight: 500;
  font-size: 30px;
  display: inline-block;
}
.p59-one-six {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p60-one-six {
  margin: 0;
}
.ch1-6-one-six {
  position: relative;
  background-color: var(--color-gray-500);
  width: 100%;
  height: 1180px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-200);
  font-family: var(--font-noto-sans-kr);
}