.swiper {
    width: 75%;
    height: 200px;
    position: absolute;
    top: 665px;
    left: 15px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: whitesmoke;
    border-radius: 15px;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;

    align-items: center; 
    flex-direction: column;
  }
  
  .swiper-slide img {
    display: block;
    width: 45%;
    height: auto;
  }
  .D-title{
    font-weight: 800;
    margin-top: 2px;
  }