.image-261-icon3-two-result2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 840px;
  height: 800px;
  object-fit: cover;
}
.group-div19-two-result2,
.vector-icon4-two-result2{
  top: 0;
  left: 0px;
  width: 800px;
  height: 700px;
}
.vector-icon4-two-result2 {
  height: 500px;
  width: 100%;
  top: 620px;
  right: 0px;
  overflow: hidden;
}
.div25-two-result2 {
  position: absolute;
  top: 830px;
  left: 50px;
  font-weight: 500;
  font-size: 30px;
}
.p32-two-result2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p33-two-result2 {
  margin: 0;
}
.div26-two-result2,
.icon4-two-result2 {
  position: absolute;
}
.div26-two-result2 {
  position: absolute;
  top: 900px;
  left: 50px;
  font-weight: 500;
  font-size: 30px;
  display: inline-block;
}
.icon4-two-result2 {
  top: 500px;
  left: 490px;
  width: 330px;
  height: 300px;
  object-fit: cover;
}
.ch1-1-27950-two-result2 {
  position: relative;
  background-color: var(--color-gray-500);
  width: 100%;
  height: 1180px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-200);
  font-family: var(--font-noto-sans-kr);
}
