.image-261-icon3-two-twentyfour {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 840px;
  height: 1180px;
  object-fit: cover;
}
.rectangle-div60-two-twentyfour {
  position: absolute;
  top: 60px;
  left: 55px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  width: 600px;
  height: 90px;
  z-index: 1;
}
.rectangle-div61-two-twentyfour {
  position: absolute;
  top: 110px;
  left: 55px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  width: 600px;
  height: 90px;
  z-index: 1;
}
.rectangle-div62-two-twentyfour {
  position: absolute;
  top: 160px;
  left: 55px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  width: 600px;
  height: 90px;
  
}
.rectangle-div63-two-twentyfour {
  position: absolute;
  top: 210px;
  left: 55px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  width: 600px;
  height: 90px;
  z-index: 1;
}
.rectangle-div64-two-twentyfour {
  position: absolute;
  top: 260px;
  left: 55px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  width: 600px;
  height: 90px;
  z-index: 1;
}
.rectangle-div65-two-twentyfour {
  position: absolute;
  top: 310px;
  left: 55px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  width: 600px;
  height: 90px;
  z-index: 1;
}
.p35-two-twentyfour {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 20px;
  width: 500px;
  margin-top: 100px;
}
.p36-two-twentyfour {
  margin: 0;
  font-size: var(--font-size-sm);
}
.div24-two-twentyfour {
  position: absolute;
  top: 7px;
  left: 51px;
  display: inline-block;
}
.group-div8-two-twentyfour {
  position: absolute;
  top: 347px;
  left: 60px;
  width: 300px;
  height: 54px;
}
.div25-two-twentyfour {
  position: absolute;
  top: 9px;
  left: 30px;
  display: inline-block;
}
.group-div9-two-twentyfour {
  position: absolute;
  top: 418px;
  left: 60px;
  width: 300px;
  height: 54px;
}
.ceo-div1-two-twentyfour {
  position: absolute;
  top: 8px;
  left: 43px;
  display: inline-block;
}
.group-div10-two-twentyfour {
  position: absolute;
  top: 489px;
  left: 60px;
  width: 300px;
  height: 54px;
}
.div26-two-twentyfour {
  position: absolute;
  top: 8px;
  left: 45px;
  display: inline-block;
}
.group-div11-two-twentyfour {
  position: absolute;
  top: 631px;
  left: 59px;
  width: 300px;
  height: 54px;
}
.div27-two-twentyfour {
  position: absolute;
  top: 8px;
  left: 17px;
  display: inline-block;
}
.group-div12-two-twentyfour {
  position: absolute;
  top: 560px;
  left: 60px;
  width: 300px;
  height: 54px;
}
.div28-two-twentyfour {
  position: absolute;
  top: 8px;
  left: 28px;
  display: inline-block;
}
.group-div13-two-twentyfour,
.group-icon33-two-twentyfour,
.group-icon34-two-twentyfour {
  position: absolute;
  top: 276px;
  left: 60px;
  width: 300px;
  height: 54px;
}
.group-icon33-two-twentyfour,
.group-icon34-two-twentyfour {
  top: 1060px;
  height: 88px;
  width: 80%;
  left: 80px;
}
.group-icon34-two-twentyfour {
  height: 24.71%;
  width: 80.33%;
  top: 2%;
  right: 8.33%;
  bottom: 68.54%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div29-two-twentyfour {
  position: absolute;
  top: 260px;
  left: 230px;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-600);
  text-align: left;
  display: inline-block;
}
.group-icon35-two-twentyfour {
  position: absolute;
  height: 15.88%;
  width: 26.66%;
  top: 3.5%;
  right: 34.58%;
  bottom: 78.45%;
  left: 36.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b3-two-twentyfour {
  position: absolute;
  top: 19.7%;
  left: 32.05%;
  font-size: 20px;
  display: inline-block;
}
.ch1-10-3-two-twentyfour {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1180px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
#class-two-one-one{
  margin-top: 0px;
  margin-left: -25px;
  font-size: 26px;
  width: 600px;
}
#class-two-one-two{
  font-size: 25px;
  margin-left: -30px;
}
#class-two-two-one{
  margin-top: 0px;
  margin-left: -50px;
  font-size: 26px;
  width: 600px;
}
#class-two-two-two{
  font-size: 25px;
  margin-left: -70px;

}
#class-two-three-one{
  margin-top: 0px;
  margin-left: -30px;
  font-size: 26px;
  width: 600px;
}
#class-two-three-two{
  font-size: 25px;
  margin-left: -0px;
}
#class-two-four-one{
  margin-top: 0px;
  margin-left: -40px;
  font-size: 26px;
  width: 600px;
}
#class-two-four-two{
  font-size: 25px;
}
#class-two-five-one{
  margin-top: 0px;
  margin-left: -10px;
  font-size: 26px;
  width: 600px;
}
#class-two-five-two{
  font-size: 25px;
}
#class-two-six-one{
  margin-top:0px;
  margin-left: -30px;
  font-size: 26px;
  width: 600px;
}
#class-two-six-two{
  font-size: 25px;
  margin-left: -30px;
}