.div43,
.div44,
.icon9 {
  position: absolute;
  width: 443px;
  height: 855px;
}
.icon9-two-zero {
  top: 0;
  left: 0;
  object-fit: cover;
}
.div43-two-zero,
.div44-two-zero {
  top: -65px;
  left: -12px;
}
.div44-two-zero {
  top: -66px;
}
.group-icon40-two-zero,
.m-ch1-1-two-zero {
  position: absolute;
  top: 750px;
  left: 110px;
  width: 640px;
  height: 80px;
}
.m-ch1-1-two-zero {
  top: 250px;
  left: 330px;
  width: 150px;
  height: 100px;
  object-fit: cover;
}
.group-icon41-two-zero {
  position: absolute;
  height: 18%;
  width: 85%;
  top: 35.77%;
  bottom: 50.06%;
  left: 9.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ch-two-zero {
  position: relative;
  background-color: var(--color-gray-500);
  width: 100%;
  height: 1180px;
  overflow: hidden;
}
