.main1 {
  position: absolute;
  top: 43px;
  left: 60px;
  width: 294.71px;
  height: 128.64px;
  overflow: hidden;
}
.main2 {
  position: absolute;
  top: 197px;
  left: 0;
  width: 426px;
  height: 427px;
  object-fit: cover;
}
.rectangle-div {
  position: absolute;
  top: 634px;
  left: 128px;
  border-radius: 31px;
  background-color: #ffcc51;
  border: 6px solid #2654a4;
  box-sizing: border-box;
  width: 164px;
  height: 63px;
}
.p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p1 {
  margin: 0;
}
.b {
  position: absolute;
  top: 578px;
  left: 73px;
  display: inline-block;
}
.ch1 {
  position: relative;
  background-color: #d2ecff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-noto-sans-kr);
}
