.rectangle-ch1-div {
  position: absolute;
  top: 506px;
  left: 4px;
  background-color: #282c30;
  width: 414px;
  height: 218px;
}
.polygon-icon {
  position: absolute;
  top: 610.75px;
  left: 220.94px;
  width: 12.12px;
  height: 11.25px;
}
.p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p2 {
  margin: 0;
}
.b {
  position: absolute;
  top: 536px;
  left: 32px;
  display: inline-block;
}
.image-237-icon,
.image-238-icon {
  position: absolute;
  top: 104px;
  left: 66px;
  width: 122.74px;
  height: 130.97px;
  object-fit: cover;
}
.image-238-icon {
  top: 199px;
  left: 261px;
  width: 105.52px;
  height: 107.26px;
}
.ch1-div {
  position: relative;
  background-color: #3a4a56;
  width: 100%;
  height: 724px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #f5f5f5;
  font-family: var(--font-noto-sans-kr);
}
