.b,
.b1 {
  position: absolute;
  top: 40px;
  left: 120px;
  display: inline-block;
}
.b1 {
  top: 97px;
  left: 157px;
  color: #35f9ca;
}
.man,
.woman {
  position: absolute;
  top: 155px;
  left: 63px;
  width: 308px;
  height: 200px;
  object-fit: cover;
}
.woman {
  top: 404px;
  left: 58px;
  width: 317px;
  height: 203px;
}
.ch1-2-div {
  position: relative;
  background-color: #3a4a56;
  width: 100%;
  height: 724px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-noto-sans-kr);
}
