.rectangle-div {
    position: absolute;
    top: 118px;
    left: 26px;
    border-radius: 56px;
    background-color: var(--color-gray-300);
    width: 362px;
    height: 487px;
}

.frame-icon,
.frame-icon1 {
    position: absolute;
    top: 215px;
    left: 69px;
    width: 285px;
    height: 17px;
    overflow: hidden;
}

.frame-icon1 {
    top: 169px;
    left: 102px;
    width: 209px;
    height: 36px;
}

.game-1-b {
    position: absolute;
    top: 143px;
    left: 106px;
    display: inline-block;
}

.ch1-1-div {
    position: relative;
    background-color: var(--color-gray-200);
    width: 100%;
    height: 724px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
    font-family: var(--font-noto-sans-kr);
}