.rectangle-ch5-div {
  position: absolute;
  top: 118px;
  left: 26px;
  border-radius: 56px;
  background-color: #282c30;
  width: 362px;
  height: 487px;
}

.frame-icon,
.frame-icon1 {
  position: absolute;
  top: 215px;
  left: 69px;
  width: 285px;
  height: 17px;
  overflow: hidden;
}

.frame-icon1 {
  top: 169px;
  left: 102px;
  width: 209px;
  height: 36px;
}

.game-1-b {
  position: absolute;
  color: white;
  top: 143px;
  left: 106px;
  display: inline-block;
}

.ch1-1-div {
  position: relative;
  background-color: #3a4a56;
  width: 425px;
  height: 724px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-noto-sans-kr);
}
