.b,
.b1 {
  position: absolute;
  display: inline-block;
}
.b {
  top: 40px;
  left: 120px;
  color: var(--color-gray-100);
}
.b1 {
  top: 91px;
  left: 135px;
  font-size: 23px;
  color: #35f9ca;
}
.image-241-icon2 {
  position: absolute;
  top: 162px;
  left: 63px;
  width: 308px;
  height: 200px;
  object-fit: cover;
}
.rectangle-div-6 {
  position: absolute;
  top: 442px;
  left: 61px;
  background-color: #d9d9d9;
  width: 292px;
  height: 51px;
}
.input-b {
  position: absolute;
  top: 453px;
  left: 179px;
  display: inline-block;
}
.ch1-6-div {
  position: relative;
  background-color: #3a4a56;
  width: 100%;
  height: 724px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-turquoise);
  font-family: var(--font-noto-sans-kr);
}
