.rectangle-ch9-div1 {
  position: absolute;
  top: 118px;
  left: 26px;
  border-radius: 56px;
  background-color: #282c30;
  width: 362px;
  height: 487px;
}

.group-icon,
.group-icon1,
.group-icon2 {
  position: absolute;
  top: 215px;
  left: 69px;
  width: 285px;
  height: 17px;
  overflow: hidden;
}

.group-icon {
  top: 169px;
  left: 102px;
  width: 209px;
  height: 36px;
}
.group-icon2 {
  top: 269px;
  left: 102px;
  width: 209px;
  height: 36px;
}
.game-1-b {
  position: absolute;
  color: white;
  top: 143px;
  left: 106px;
  display: inline-block;
}

.ch1-9-div {
  position: relative;
  background-color: #a8e5e8;
  width: 425px;
  height: 724px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #f5f5f5;
  font-family: "Noto Sans KR";
}
